<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css\clinicals.css" %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Data</title>
</head>
<body>
    <h2>Patient Details</h2>
    First Name : {{patient.firstname}}
    Last Name : {{patient.lasttname}}
    Age : {{patient.age}}
    <h2>Patient Clinical Data : </h2>
    <form method="post">
        <table>
            {{form.as_table}}
        </table>
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</body>
</html>