<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinical Data Report</title>
</head>
<body>
    <h1>Clinical Data Report</h1>
    <table border="2">
        <thead>
            <th>Component Name</th>
            <th>Component Value</th>
            <th>Measure Date Time</th>
        </thead>
        {% for eachEntry in data %}
        <tr>
            <td>{{eachEntry.componentName}}</td>
            <td>{{eachEntry.componenetValue}}</td>
            <td>{{eachEntry.measuredDatetime}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Home</a>
</body>
</html>