<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css\clinicals.css" %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Delete patient {{patient.firstname}} ?</h2>
    <form method="post">
        <input type="submit" value="confirm">
        <a href="">Cancel</a>
        {% csrf_token %}
    </form>
</body>
</html>